<div id="banner" onclick="javascript: window.open(window.clickTag);">
  <div class="outline"></div>

  <div class="frame frame1">
    <div class="green"></div>
    <img class="retina t1" src="../_common/images/<%= size %>/<%= name %>/t1.png" />
    <img class="retina arrows" src="../_common/images/<%= size %>/arrows.png" />

    <img class="retina t2" src="../_common/images/<%= size %>/<%= name %>/t2.png" />
    <img class="retina t3" src="../_common/images/<%= size %>/<%= name %>/t3.png" />
    <img class="retina end_cta" src="../_common/images/<%= size %>/<%= name %>/end_cta.png" />
    <img class="retina phone_1" src="../_common/images/<%= size %>/<%= name %>/phone_1.png" />
    <img class="retina end_sb" src="../_common/images/<%= size %>/<%= name %>/end_sb.png" />
    <img class="retina legal" src="../_common/images/<%= size %>/legal.png" />
    <img class="retina playsmart" src="../_common/images/<%= size %>/playsmart.png" />
  </div>

  <%- include('../_common/templates/_end') %>
</div>
