<div id="banner" onclick="javascript: window.open(window.clickTag);">
  <div class="outline"></div>

  <div class="frame frame1">
    <div class="green"></div>
    <img class="retina t0" src="../_common/images/<%= size %>/<%= name %>/t0.png" />
    <img class="retina arrows" src="../_common/images/<%= size %>/arrows.png" />
    <img class="retina phone_1a" src="../_common/images/<%= size %>/<%= name %>/phone_1a.png" />
    <img class="retina t1" src="../_common/images/<%= size %>/t1.png" />
    <img class="retina phone_1b" src="../_common/images/<%= size %>/<%= name %>/phone_1b.png" />
    <img class="retina t2" src="../_common/images/<%= size %>/<%= name %>/t2.png" />
    <img class="retina txt_dta" src="../_common/images/<%= size %>/txt_dta.png" />
    <img class="retina phone_2" src="../_common/images/<%= size %>/<%= name %>/phone_2.png" />
    <img class="retina legal" src="../_common/images/<%= size %>/legal.png" />
    <img class="retina playsmart" src="../_common/images/<%= size %>/playsmart.png" />
  </div>

  <%- include('./_end') %>
</div>
